

<h1>Books</h1> 

{{#each books}}
    <div>
        <h3>{{title}}</h3>
        <p>Author: {{this.author.name}}</p>
        <p>Rating: {{this.rating}}</p>
        <a href="/books/{{_id}}">See details</a>
        <a href="/books/{{_id}}/edit">Edit</a>
        
        <form action="/books/{{_id}}/delete" method="POST">
            <button style="margin-top: 10px;">Delete</button>
        </form>
    </div>

{{/each}}

